$primary: #b49543;
$primary-hover: #896e36;

$default: #7b715d;
$default-hover: #615540;

$danger: #ea445b;
$danger-hover: #b13343;

$success: #17ce7f;
$success-hover: #13bd77;

$info: #19ceea;
$info-hover: #13bcd2;

$warning: #968aea;
$warning-hover: #8d82d3;

$admin-primary: #337AB7;

$dark-bg: #353535;

$white: #ffffff;
$black: #000;
$dark-grey: #5b5b5b;
$medium-grey: #c6c6c6;
$light-grey: #e6e6e6;
$warm-light-grey: #f6f5f3;
$warm-light-grey-2: #ece9e1;