@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  color: #5b5b5b;
  font-family: Montserrat, sans-serif;
  font-size: 14px; }

main {
  min-height: calc(100vh - 80px);
  padding-top: 160px;
  background-color: #f6f5f3; }

.container-fluid {
  padding: 0; }

button {
  border: none;
  outline: none; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: inherit;
    text-decoration: none; }

img {
  width: 100%; }

h1, h2, h3 {
  margin: 50px 0 20px 0; }

h3 {
  font-size: 2em;
  color: #ccc;
  text-transform: uppercase;
  font-weight: 300; }

h2 {
  font-size: 2em; }

input[type=checkbox], input[type=radio] {
  margin: 4px 7px 0 0;
  margin-top: 1px \9;
  line-height: normal; }

.text-bigger {
  font-size: 1.3em;
  font-weight: 400 !important; }

.label {
  padding: .3em .6em;
  font-weight: 400; }

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px; }
  .breadcrumb .breadcrumb-item::after {
    content: ' / '; }
  .breadcrumb .breadcrumb-item:last-child::after {
    content: ''; }

.btn {
  margin-right: 5px; }
  .btn.btn-sort {
    padding: 2px;
    color: #e6e6e6;
    background-color: transparent;
    transition: .4s; }
    .btn.btn-sort.active {
      color: #ea445b; }

.btn-custom {
  border: none;
  margin-right: 5px;
  margin-bottom: 5px;
  transition: .4s; }
  .btn-custom:last-child {
    margin-right: 0; }
  .btn-custom.primary {
    color: #ffffff;
    background-color: #b49543; }
    .btn-custom.primary:hover {
      background-color: #896e36; }
  .btn-custom.default {
    color: #ffffff;
    background-color: #7b715d; }
    .btn-custom.default:hover {
      background-color: #615540; }
  .btn-custom:hover {
    cursor: pointer; }
  .btn-custom.xs {
    padding: 1px 5px;
    border-radius: 2px; }
  .btn-custom.sm {
    padding: 5px 10px;
    border-radius: 3px; }
  .btn-custom.md {
    padding: 10px 20px;
    border-radius: 4px; }
  .btn-custom.lg {
    padding: 13px 25px;
    border-radius: 5px; }

.btn.active,
.btn:active,
.btn.active:focus {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none; }

.table-sorting-buttons {
  margin-left: 15px;
  display: inline-block;
  margin-right: 0; }
  .table-sorting-buttons .btn {
    margin-right: 0; }

.table-responsive {
  min-height: .01%;
  overflow-x: auto; }

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: middle;
  height: 50px; }

.table > thead {
  background-color: #ffffff; }

.table td:last-child,
.table th:last-child {
  padding-right: 20px; }

.bg-white {
  background-color: #ffffff; }

.section-heading {
  text-align: center;
  font-size: 3em;
  padding: 25px 15px;
  border-top: 1px solid #f6f5f3;
  border-bottom: 1px solid #f6f5f3;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 8px;
  color: #b49543; }

nav {
  display: flex;
  align-items: center;
  flex-direction: column; }
  nav .navbar .navbar-fixed-top .navbar-default .collapse {
    display: flex; }
  nav .navbar-nav {
    margin: 0; }
  nav.navbar-default {
    background-image: none;
    background-color: white;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  nav .navbar-brand {
    font-weight: 300;
    font-size: 150%;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 1px solid #c6c6c6;
    margin: 15px auto 0 auto; }
  nav .nav {
    display: flex;
    height: 65px;
    align-items: center; }
    nav .nav .nav-link {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      text-transform: uppercase;
      letter-spacing: .3px;
      text-decoration: none;
      font-size: .9em;
      transition: .4s; }
      nav .nav .nav-link.cart {
        color: #c6c6c6;
        border-bottom: none;
        font-size: 1em; }
        nav .nav .nav-link.cart .fa {
          font-size: 1.5em;
          padding-right: 8px; }
      nav .nav .nav-link.active {
        color: #b49543; }
  nav .label-danger {
    background-color: #b49543; }

#home-main-carousel .carousel {
  height: 550px;
  margin-top: -35px; }
  #home-main-carousel .carousel .carousel-inner {
    height: 100%;
    position: relative; }
    #home-main-carousel .carousel .carousel-inner .item {
      height: 100%; }
    #home-main-carousel .carousel .carousel-inner .carousel-img {
      width: 100%;
      height: auto;
      min-height: 100%;
      position: absolute;
      z-index: -1; }
  #home-main-carousel .carousel .carousel-caption {
    position: absolute;
    top: 200px;
    width: 60%;
    left: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 10;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
    #home-main-carousel .carousel .carousel-caption h3 {
      font-size: 5em;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600; }

.carousel-control.left,
.carousel-control.right {
  background: none;
  transition: .4s; }

#home-about {
  text-align: center; }
  #home-about .content-text {
    padding: 25px;
    font-size: 1.3em; }

#home-banner-1 .wrapper,
#home-banner-2 .wrapper {
  padding-top: 50px;
  width: 100%; }
#home-banner-1 .article-box,
#home-banner-2 .article-box {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 600px;
  background-color: #f6f5f3;
  text-align: left; }
#home-banner-1 .article-image img,
#home-banner-2 .article-image img {
  width: 100%;
  height: auto; }
#home-banner-1 .article-content,
#home-banner-2 .article-content {
  position: absolute;
  padding: 50px;
  width: 30%;
  min-width: 350px;
  z-index: 1; }
  #home-banner-1 .article-content h4,
  #home-banner-2 .article-content h4 {
    color: #896e36;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.5em; }

#home-banner-1 .article-box {
  height: 600px; }
#home-banner-1 .article-content {
  left: 100px;
  top: 10%; }
#home-banner-1 .article-image {
  position: absolute;
  left: 25%;
  bottom: 10%;
  width: 70%;
  height: 70%;
  overflow: hidden;
  display: flex;
  align-items: center; }
  #home-banner-1 .article-image img {
    width: 100%;
    height: auto; }

#home-banner-2 .article-box {
  height: 450px; }
#home-banner-2 .article-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center; }
#home-banner-2 .article-content {
  position: absolute;
  left: 100px;
  top: -60px;
  height: auto;
  min-height: 0; }

#top-sellers {
  padding-bottom: 30px; }
  #top-sellers .top-sellers-carousel {
    position: relative;
    overflow: hidden; }
    #top-sellers .top-sellers-carousel button:disabled {
      cursor: default !important; }
      #top-sellers .top-sellers-carousel button:disabled:hover {
        color: #e6e6e6 !important; }
    #top-sellers .top-sellers-carousel .carousel-control.left,
    #top-sellers .top-sellers-carousel .carousel-control.right {
      width: 20px;
      background: none;
      color: #e6e6e6;
      text-shadow: none;
      z-index: 1;
      opacity: 1;
      margin: 20px;
      transition: .4s; }
      #top-sellers .top-sellers-carousel .carousel-control.left:hover,
      #top-sellers .top-sellers-carousel .carousel-control.right:hover {
        cursor: pointer;
        color: #b49543; }

.card,
.top-seller-card {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  padding: 25px;
  margin-bottom: 20px;
  background-color: #ffffff;
  transition: .4s; }
  .card:hover,
  .top-seller-card:hover {
    -webkit-box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.23);
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.23); }
    .card:hover .product-image,
    .top-seller-card:hover .product-image {
      transform: translateY(-20px);
      transition: .4s; }
    .card:hover .price,
    .top-seller-card:hover .price {
      color: #b49543; }
    .card:hover .add-to-cart-btn,
    .top-seller-card:hover .add-to-cart-btn {
      background-color: #b49543; }
  .card .product-image,
  .top-seller-card .product-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    transition: .4s; }
    .card .product-image .card-img-top,
    .top-seller-card .product-image .card-img-top {
      height: 90%;
      width: auto;
      border-bottom: 1px solid transparent; }
  .card .card-text,
  .top-seller-card .card-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c6c6c6;
    visibility: visible;
    opacity: 1;
    height: 60px;
    font-size: .9em;
    transition: .4s; }
  .card .price,
  .top-seller-card .price {
    padding: 5px 10px;
    font-weight: 600;
    transition: .4s; }
    .card .price::after,
    .top-seller-card .price::after {
      content: " BGN";
      font-family: "Montserrat", sans-serif;
      font-size: .7em;
      opacity: .5; }
  .card .add-to-cart-btn,
  .top-seller-card .add-to-cart-btn {
    display: inline-block;
    padding: 5px 10px;
    height: 30px;
    transition: .4s;
    background-color: #e6e6e6;
    color: #ffffff;
    z-index: 3000;
    margin-right: 5px; }
    .card .add-to-cart-btn:hover,
    .top-seller-card .add-to-cart-btn:hover {
      background-color: #896e36;
      color: #ffffff; }

.top-seller-card {
  width: 300px;
  display: inline-block;
  padding: 25px;
  margin: 5px 25px; }
  .top-seller-card:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

#testimonials {
  padding: 50px 0; }
  #testimonials .testimonial .testimonial-body {
    margin-top: 25px; }
  #testimonials .avatar {
    width: 100px;
    height: 100px;
    border: 6px solid #f6f5f3; }
  #testimonials .carousel {
    min-height: 250px;
    transition: .4s; }
    #testimonials .carousel .carousel-inner {
      height: auto;
      position: relative; }
    #testimonials .carousel .carousel-indicators {
      display: none; }

#product .label {
  display: inline;
  padding: 0.2em .6em 0.3em;
  font-size: 50%;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: text-top;
  border-radius: .25em; }
#product #product-tabs {
  margin-top: 50px; }

.nav-tabs {
  border-bottom: 1px solid #ddd;
  padding-left: 15px; }

.tab-content {
  padding: 25px 15px; }

#cart .active-tab {
  color: #b49543; }
#cart .cart-view-name {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 15px; }
#cart .image-thumbnail {
  height: 35px;
  width: 35px; }
#cart .buttons-container {
  padding: 50px 0; }
#cart h4 {
  color: #b49543;
  font-weight: 400;
  font-size: 1.1em;
  padding-top: 8px; }
#cart .label {
  position: relative;
  font-size: 14px;
  background-color: #7b715d;
  color: #ffffff;
  top: -5px;
  margin-right: 15px; }
#cart .table-responsive {
  margin-top: 25px; }

.quantity {
  height: 50px;
  line-height: 50px; }

.text-grey {
  color: #c6c6c6; }

#create-edit-product .image-container {
  position: relative;
  display: inline-block;
  margin: 0 20px 10px 0; }
  #create-edit-product .image-container .image-thumbnail {
    height: 80px;
    width: auto; }
  #create-edit-product .image-container .deleteImgBtn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border: 1px solid #e6e6e6;
    color: #5b5b5b;
    background-color: #ffffff;
    border-radius: 50%;
    right: -8px;
    top: -8px;
    font-size: .8em;
    font-weight: 600;
    transition: .4s; }
    #create-edit-product .image-container .deleteImgBtn:hover {
      background-color: #e6e6e6; }

#orders .filters-container {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  padding: 10px;
  border: 1px solid #e6e6e6; }
#orders .order-info {
  display: none;
  position: absolute;
  width: 60%;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background-color: #ffffff;
  border-radius: 3px;
  padding: 20px 30px;
  -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.3);
  z-index: 2001; }
#orders .visible {
  display: block; }
#orders .overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000; }
#orders .close-btn {
  position: absolute;
  top: 10px;
  right: 5px; }
#orders .order-info-table-header {
  background-color: #D8ECF6;
  padding: 10px 0;
  margin-bottom: 10px; }

.arrows-container {
  width: 60px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .arrows-container .btn-xs {
    width: 30px; }

.hidden-link {
  color: inherit;
  text-decoration: none; }
  .hidden-link:hover {
    color: inherit;
    text-decoration: none; }

footer {
  background-color: rgba(240, 240, 240, 0);
  padding: 20px 40px;
  font-size: .8em; }
  footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  footer .social i {
    margin: 0 10px;
    font-size: 2em;
    color: #383838; }
    footer .social i:hover {
      color: #b49543;
      transition: all .3s; }

#image-gallery {
  width: 100%; }
  #image-gallery .main-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    overflow: hidden;
    margin-right: 30px; }
    #image-gallery .main-image-container .main-image {
      margin: auto;
      height: 100%;
      width: auto; }
  #image-gallery .gallery-thumbnails {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    #image-gallery .gallery-thumbnails .image-thumbnail {
      width: 60px;
      height: 60px;
      margin: 5px 5px 0 0;
      overflow: hidden;
      transition: .5s; }
      #image-gallery .gallery-thumbnails .image-thumbnail:last-of-type {
        margin-right: 0; }
      #image-gallery .gallery-thumbnails .image-thumbnail:hover {
        cursor: pointer; }
  #image-gallery .gallery-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2.5%;
    display: flex;
    justify-content: space-between;
    width: 95%;
    z-index: 1; }
    #image-gallery .gallery-controls button {
      border: none;
      outline: none;
      color: #555; }
    #image-gallery .gallery-controls .carousel-control-prev,
    #image-gallery .gallery-controls .carousel-control-next {
      display: inline-block;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      background: rgba(255, 255, 255, 0.7);
      cursor: pointer;
      transition: .4s; }
      #image-gallery .gallery-controls .carousel-control-prev:hover,
      #image-gallery .gallery-controls .carousel-control-next:hover {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.6);
        transition: .4s; }
    #image-gallery .gallery-controls .disabled {
      cursor: default;
      color: rgba(0, 0, 0, 0.2);
      background-color: rgba(255, 255, 255, 0.3); }
      #image-gallery .gallery-controls .disabled:hover {
        cursor: default;
        color: rgba(0, 0, 0, 0.2);
        background-color: rgba(255, 255, 255, 0.3); }

@media screen and (max-width: 1000px) {
  #home-main-carousel .carousel {
    height: 400px;
    margin-top: -35px; }

  .section-heading {
    letter-spacing: 5px;
    font-size: 2.2em; }

  #home-banner-1 .article-content {
    padding: 30px 50px;
    left: 6%;
    top: 6%;
    height: 80%; }
  #home-banner-1 .article-image {
    left: 24%;
    bottom: 5%;
    width: 70%;
    height: 80%; }
    #home-banner-1 .article-image img {
      width: 100%;
      height: auto; }

  #home-banner-2 .wrapper {
    padding-top: 0; }
  #home-banner-2 .article-content {
    left: 6%;
    top: 10%;
    height: 80%; }
  #home-banner-2 .article-image img {
    width: auto;
    height: 100%; }

  #orders .order-info {
    width: 80%; } }
@media screen and (max-width: 767px) {
  main {
    padding-top: 80px; }

  nav .navbar-brand {
    margin-bottom: 15px; }
  nav .navbar-toggle {
    margin-top: 0;
    position: absolute;
    top: 23px;
    right: 20px; }
  nav .navbar-collapse {
    width: 100%;
    border-color: #e7e7e7;
    position: absolute;
    top: 80px;
    background-color: #fff;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: 2px 4px 5px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 2px 4px 5px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 2px 4px 5px 0 rgba(0, 0, 0, 0.15); }
    nav .navbar-collapse.in {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center; } }
@media screen and (max-width: 650px) {
  nav .navbar-collapse {
    width: 100%;
    background-color: rgba(45, 45, 45, 0.95);
    padding-bottom: 10px; }
  nav .nav {
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: column; }
    nav .nav .nav-link {
      color: #c6c6c6;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

  #home-main-carousel .carousel {
    height: 300px;
    margin-top: -35px; }
  #home-main-carousel .carousel-inner .carousel-img {
    width: auto;
    height: 100%; }

  .section-heading {
    letter-spacing: 3px;
    font-size: 1.8em; }

  #home-banner-1 .article-content {
    left: 6%;
    top: 6%;
    height: 88%;
    background-color: rgba(255, 255, 255, 0.7); }
  #home-banner-1 .article-image {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }
    #home-banner-1 .article-image img {
      width: auto;
      height: 100%; }

  #home-banner-2 .article-content {
    background-color: rgba(255, 255, 255, 0.7); }

  #top-sellers {
    padding-bottom: 0; }

  #testimonials {
    padding: 30px 0; }

  .table-sorting-buttons {
    margin-left: 2px; }

  #orders .order-info {
    width: 95%;
    top: 0; } }
@media screen and (max-width: 400px) {
  #home-main-carousel .carousel {
    height: 250px;
    margin-top: -35px; }
    #home-main-carousel .carousel .carousel-inner .carousel-img {
      width: auto;
      height: 100%; }

  nav {
    align-items: flex-start; }
    nav .navbar-brand {
      font-size: 120%;
      margin: 15px auto 15px 30px; }

  h2, h3 {
    font-size: 1.3em;
    margin: 15px 0 12px 0; }

  h4 {
    margin-top: 20px; }

  #cart .label {
    font-size: 12px;
    top: -5px;
    margin-right: 10px; }

  .section-heading {
    letter-spacing: 0;
    font-size: 1.5em; }

  #home-banner-1 .article-content,
  #home-banner-2 .article-content {
    left: 5%;
    padding: 35px;
    min-width: 0;
    width: 90%; } }

/*# sourceMappingURL=main.css.map */
