@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

$white: #ffffff;
$black: #000;
$primary: #b49543;
$primary-hover: #ffa4a2;
$secondary: #00a8b8;
$dark-grey: #5b5b5b;
$medium-grey: #c6c6c6;
$light-grey: #e6e6e6;
$warm-light-grey: #f6f5f3;
$danger: #ea445b;
$danger-darken: #b13343;
$header-height: 65px;

@mixin transition {
  transition: .4s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  color: $dark-grey;
  //background-color: #f0f0f0;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

main {
  //margin-top: $header-height;
  min-height: calc(100vh - 80px);

  padding-top: 160px;
  background-color: $warm-light-grey;
}

.container-fluid {
  padding: 0;
}

button {
  border: none;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: inherit;
    text-decoration: none;
  }
}

img {
  width: 100%;
}

h1, h2, h3 {
  margin: 50px 0 20px 0;
}

h3 {
  font-size: 2em;
  color: #ccc;
  text-transform: uppercase;
  font-weight: 300;
}

input[type=checkbox], input[type=radio] {
  margin: 4px 7px 0 0;
  margin-top: 1px\9;
  line-height: normal;
}

.text-bigger {
  font-size: 1.3em;
  font-weight: 400 !important;
}

.label {
  padding: .3em .6em;
  font-weight: 400;
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;

  .breadcrumb-item {
    &::after {
      content: ' / ';
    }

    &:last-child {
      &::after {
        content: '';
      }
    }
  }
}

.row {
  //padding: 25px 0;
}

.btn {
  margin-right: 5px;

  &.btn-sort {
    padding: 2px;
    color: $primary;
    background-color: transparent;
    @include transition;

    &.active {
      color: $danger;
    }
  }
}

.btn.active,
.btn:active,
.btn.active:focus {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none;
}

.table-sorting-buttons {
  margin-left: 15px;
  display: inline-block;
  margin-right: 0;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: 1px solid #ddd;
  height: 50px;
}

.table > thead {
  background-color: $light-grey;
}

.table td:last-child,
.table th:last-child {
  padding-right: 20px;
}

.container .jumbotron,
.container-fluid .jumbotron {
  padding-right: 15px;
  padding-left: 50px;
  border-radius: 0;
  background-color: $warm-light-grey;
  position: relative;

  h1 {
    font-size: 3em;
    width: 45%;
  }

  p {
    font-size: 1.2em;
    font-weight: 400;
    width: 45%;
  }

  .jumbotron-image {
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    max-width: 50%;
    height: 100%;
  }
}

.section-heading {
  font-family: "Garamond", serif;
  text-align: center;
  line-height: 3em;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 8px;
  color: $medium-grey;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 15px;

  &.navbar-default {
    background-image: -webkit-linear-gradient(top,#fff 0,#f8f8f8 100%);
    background-image: -o-linear-gradient(top,#fff 0,#f8f8f8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f8f8f8));
    background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
    background-repeat: repeat-x;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    //height: $header-height;
    font-weight: 300;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 1px solid $medium-grey;
  }

  .nav {
    display: flex;
    height: $header-height;
    align-items: center;

    .nav-link {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      text-transform: uppercase;
      letter-spacing: .3px;
      text-decoration: none;
      font-size: .9em;
      @include transition;

      &.cart {
        color: $medium-grey;
        border-bottom: none;
        font-size: 1em;

        .fa {
          font-size: 1.5em;
          padding-right: 8px;
        }
      }

      &.active {
        color: $primary;
      }

      &:last-child {
        margin-left: 25px;
      }
    }
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
  }
}

.carousel {
  height: 550px;
  margin-top: -35px;
  margin-bottom: 35px;

  .carousel-inner {
    height: 550px;
    position: relative;

    .carousel-img {
      width: 100%;
      position: absolute;
      transform: translateY(-10%);
      z-index: -1;
    }
  }

  .carousel-caption {
    position: absolute;
    right: 15%;
    top: 250px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  }

  .carousel-control.left,
  .carousel-control.right {
    background: none;
    @include transition;
  }
}

#home-about {
  text-align: center;
  padding-bottom: 60px;
}

#top-sellers {
  padding-bottom: 60px;
  background-color: $white;

  .top-sellers-carousel {
    position: relative;
    overflow: hidden;


    button {
      &:disabled {
        cursor: default !important;

        &:hover {
          color: $light-grey !important;
        }
      }
    }

    .carousel-control.left,
    .carousel-control.right {
      width: 20px;
      background: none;
      color: $light-grey;
      text-shadow: none;
      z-index: 1;
      opacity: 1;
      margin: 20px;
      @include transition;

      &:hover {
        cursor: pointer;
        color: $primary-hover;
      }
    }
  }
}

.card,
.top-seller-card {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  padding: 25px;
  margin-bottom: 20px;
  background-color: $white;
  @include transition;

  &:hover {
    -webkit-box-shadow: 0 0 10px -1px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 0 10px -1px rgba(0,0,0,0.23);
    box-shadow: 0 0 10px -1px rgba(0,0,0,0.23);

    .product-image {
      transform: translateY(-20px);
      @include transition;
    }

    .price {
      //background-color: $primary;
      color: $primary;
    }

    .add-to-cart-btn {
      @include transition;
      background-color: $primary;
      color: $white;
    }
  }

  .product-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    @include transition;

    .card-img-top {
      height: 90%;
      width: auto;
      border-bottom: 1px solid transparent;
    }
  }

  .card-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $medium-grey;
    visibility: visible;
    opacity: 1;
    height: 60px;
    font-size: .9em;
    @include transition;
  }

  .price {
    @include transition;
  }

  .add-to-cart-btn {
    padding: 5px 10px;
    @include transition;
    background-color: $dark-grey;
    color: $white;
    z-index: 3000;
    margin-right: 5px;
  }
}

.top-seller-card {
  width: 300px;
  display: inline-block;
  padding: 25px;
  margin: 5px 25px;

  &:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

#testimonials {
  background-color: $warm-light-grey;
  padding: 50px;

  .testimonial {
    .testimonial-body {
      margin-top: 25px;
    }
  }

  .avatar {
    width: 100px;
    height: 100px;
    border: 6px solid $warm-light-grey;
  }

  .carousel {
    height: 250px;

    .carousel-inner {
      height: auto;
      position: relative;
    }

    .carousel-indicators {
      display: none;
    }
  }

}

.price {
  padding: 5px 10px;
  display: inline-block;

  &::after {
    content: " BGN";
    font-family: "Montserrat", sans-serif;
    font-size: .7em;
    opacity: .5;
  }
}

#product {
  .label {
    display: inline;
    padding: 0.2em .6em 0.3em;
    font-size: 50%;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: text-top;
    border-radius: .25em;
  }

  #product-tabs {
    margin-top: 50px;
  }
}

// Product Tabs
.nav-tabs {
  border-bottom: 1px solid #ddd;
  padding-left: 15px;
}

.tab-content {
  padding: 25px 15px;
}

//User: Cart
#cart {
  .active-tab {
    color: $primary;
  }

  .cart-view-name {
    border-bottom: 1px solid $light-grey;
    padding-bottom: 15px;
  }

  .image-thumbnail {
    height: 35px;
    width: 35px;
  }

  .buttons-container {
    padding: 50px 0;
  }
}

.quantity {
  height: 50px;
  line-height: 50px;
}

.text-grey {
  color: $medium-grey
}

// Admin: Create - Edit product
#create-edit-product {

  .image-container {
    position: relative;
    display: inline-block;
    margin: 0 20px 10px 0;

    .image-thumbnail {
      height: 80px;
      width: auto;
    }

    .deleteImgBtn {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      border: 1px solid $light-grey;
      color: $dark-grey;
      background-color: $white;
      border-radius: 50%;
      right: -8px;
      top: -8px;
      font-size: .8em;
      font-weight: 600;
      @include transition;

      &:hover {
        background-color: $light-grey;
      }
    }
  }

}

//Admin: Orders
#orders {

  .order-info {
    display: none;
    position: absolute;
    width: 60%;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: $white;
    border-radius: 3px;
    padding: 20px 30px;

    -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.3);

    z-index: 2001;
  }

  .visible {
    display: block;
  }

  .overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 5px;
  }

  .order-info-table-header {
    background-color: #D8ECF6;
    padding: 10px 0;
    margin-bottom: 10px;
  }
}

.arrows-container {
  width: 60px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .btn-xs {
    width: 30px;
  }
}

.hidden-link {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

footer {
  background-color: rgba(240, 240, 240, 0);
  //margin: 50px auto 0;
  padding: 20px 40px;
  font-size: .8em;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .social {
    i {
      margin: 0 10px;
      font-size: 2em;
      color: #383838;

      &:hover {
        color: $primary;
        transition: all .3s;
      }
    }
  }
}

//Image Gallery

#image-gallery {
  width: 100%;

  .main-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    overflow: hidden;
    margin-right: 30px;

    .main-image {
      margin: auto;
      height: 100%;
      width: auto;
    }
  }

  .gallery-thumbnails {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .image-thumbnail {
      width: 60px;
      height: 60px;
      margin: 5px 5px 0 0;
      overflow: hidden;
      transition: .5s;

      &:last-of-type {
        margin-right: 0;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .gallery-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2.5%;

    display: flex;
    justify-content: space-between;
    width: 95%;

    z-index: 1;

    button {
      border: none;
      outline: none;
      color: #555;
    }

    .carousel-control-prev,
    .carousel-control-next {
      display: inline-block;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      background: rgba(255, 255, 255, .7);
      cursor: pointer;
      @include transition;

      &:hover {
        color: #fff;
        background-color: rgba(0, 0, 0, .6);
        @include transition;
      }
    }

    .disabled {
      cursor: default;
      color: rgba(0, 0, 0, .2);
      background-color: rgba(255, 255, 255, .3);

      &:hover {
        cursor: default;
        color: rgba(0, 0, 0, .2);
        background-color: rgba(255, 255, 255, .3);
      }
    }
  }
}


